* {
  padding: 0;
  margin: 0;
  }
body {
  font-family: sans-serif;
  display: block;
  overflow: hidden;
  background: #00ffff;
  height: 100%;
  width: 100%;
  }
body h1 {
  position: absolute;
  padding-left: 20px;
  z-index: 6;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 10% 66% 0% 0%;
  -moz-border-radius: 10% 66% 0% 0%;
  -webkit-border-radius: 10% 66% 0% 0%;
  content: "";
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  box-shadow: 30px 506px 0px 158px #29913E;
  }
body h2 {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 70%;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #ffb7fd;
  color: #000;
  box-shadow: -2px 3px 0px 0px #DB93C7;
  cursor: pointer;
  z-index: 8;
}
body.off {
  background: #A1BEBE;
  }
body.off h1 {
  color: #000;
  box-shadow: 30px 506px 0px 158px #1C612A;
  }
body.on h1 {
  color: #FFC2F0;
  text-shadow:  0 1px 0 #F00,
                0 2px 0 #FF8F00,
                0 3px 0 #FFE000,
                0 4px 0 #A3FF00,
                0 5px 0 #00F5FF,
                0 6px 1px rgba(0, 112, 255, 0.1),
                0 0 5px rgba(0, 0, 255, 0.1),
                0 1px 3px rgba(133, 0, 255, 0.3),
                0 3px 5px rgba(255, 0, 194, 0.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
  box-shadow: 30px 506px 0px 158px #5DB36E;
  }
body.on h2,
body.off h2 {
  display: none;
  }

/* ------------------------------------------------------------------------- */
/* ------------ The Rainbow ------------------------------------------------ */
.on #theRainbow {
  display: block;
  }
#theRainbow {
  display: none;
  animation: slideup 3s linear infinite;
  -webkit-animation: slideup 3s linear infinite;
  -moz-animation: slideup 3s linear infinite;
  -o-animation: slideup 3s linear infinite;
}
@-webkit-keyframes slideup { from { top: 0; } to { top: -100%; } }
   @-moz-keyframes slideup { from { top: 0; } to { top: -100%; } }
     @-o-keyframes slideup { from { top: 0; } to { top: -100%; } }
        @keyframes slideup { from { top: 0; } to { top: -100%; } }
#theRainbow,
#theRainbow:before,
#theRainbow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  }
#theRainbow:after {
  top: 100%;
  }
#theRainbow:before,
#theRainbow:after {
  display: block;
  content: '';
  background: -moz-linear-gradient(top, #ff3232 0%, #ff2828 10%, #ff9b28 11%, #ff9b28 20%, #ffff00 21%, #ffff00 30%, #90ff00 31%, #90ff00 40%, #00ff00 41%, #00ff00 50%, #00ffff 51%, #00ffff 60%, #009dff 61%, #009dff 70%, #000fff 71%, #000fff 80%, #7000ff 81%, #7000ff 90%, #ff289b 91%, #ff289b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(10%,#ff2828), color-stop(11%,#ff9b28), color-stop(20%,#ff9b28), color-stop(21%,#ffff00), color-stop(30%,#ffff00), color-stop(31%,#90ff00), color-stop(40%,#90ff00), color-stop(41%,#00ff00), color-stop(50%,#00ff00), color-stop(51%,#00ffff), color-stop(60%,#00ffff), color-stop(61%,#009dff), color-stop(70%,#009dff), color-stop(71%,#000fff), color-stop(80%,#000fff), color-stop(81%,#7000ff), color-stop(90%,#7000ff), color-stop(91%,#ff289b), color-stop(100%,#ff289b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff3232 0%,#ff2828 10%,#ff9b28 11%,#ff9b28 20%,#ffff00 21%,#ffff00 30%,#90ff00 31%,#90ff00 40%,#00ff00 41%,#00ff00 50%,#00ffff 51%,#00ffff 60%,#009dff 61%,#009dff 70%,#000fff 71%,#000fff 80%,#7000ff 81%,#7000ff 90%,#ff289b 91%,#ff289b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff3232 0%,#ff2828 10%,#ff9b28 11%,#ff9b28 20%,#ffff00 21%,#ffff00 30%,#90ff00 31%,#90ff00 40%,#00ff00 41%,#00ff00 50%,#00ffff 51%,#00ffff 60%,#009dff 61%,#009dff 70%,#000fff 71%,#000fff 80%,#7000ff 81%,#7000ff 90%,#ff289b 91%,#ff289b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff3232 0%,#ff2828 10%,#ff9b28 11%,#ff9b28 20%,#ffff00 21%,#ffff00 30%,#90ff00 31%,#90ff00 40%,#00ff00 41%,#00ff00 50%,#00ffff 51%,#00ffff 60%,#009dff 61%,#009dff 70%,#000fff 71%,#000fff 80%,#7000ff 81%,#7000ff 90%,#ff289b 91%,#ff289b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff3232 0%,#ff2828 10%,#ff9b28 11%,#ff9b28 20%,#ffff00 21%,#ffff00 30%,#90ff00 31%,#90ff00 40%,#00ff00 41%,#00ff00 50%,#00ffff 51%,#00ffff 60%,#009dff 61%,#009dff 70%,#000fff 71%,#000fff 80%,#7000ff 81%,#7000ff 90%,#ff289b 91%,#ff289b 100%); /* W3C */
  }


/* ------------------------------------------------------------------------- */
/* ------------ game parts ------------------------------------------------- */
#score {
  display: none;
  width: 100px;
  line-height: 1.1em;
  font-size: 1em;
  padding: .5em;
  border-radius: 20px;
  background: #000000;
  color: #ffffff;
  position: absolute;
  top: 125px;
  left: 20px;
  z-index: 8;
  }
.on #score,
.off #score {
  display: block;
  }


#field {
  position: absolute;
  display: block;
  top: 0px;
  right: 80px;
  height: 100%;
  width: 45%;
  z-index: 7;
  -webkit-backface-visibility: hidden; /* prevent flash at start of animation */
  }
#field p {
  position: absolute;
  top: 125px;
  font-size: 1.5rem;
  display: block;
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 10px;
  background-color: #fff;
  box-shadow: 4px 4px 4px #000;
  }
.off .pokeball {
  display: none;
}
.pokeball {
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0px solid #000000;
  background-image: radial-gradient(circle at 21% 24%, #f8f6f7 3%, rgba(255,255,255,0) 14%), radial-gradient(circle at 50% 77%, #FFFFFF 9%, rgba(255,255,255,0) 12%), radial-gradient(circle at 51% 77%, #414141 17%, rgba(255,255,255,0) 20%), radial-gradient(circle at 52% -6%, #FF0000 64%, rgba(255,255,255,0) 68%), radial-gradient(circle at 50% 9%, #414141 71%, rgba(255,255,255,0) 73%);
  transform: rotate(22deg);
  z-index: 10;
  -webkit-animation: ball 5s forwards;
  -moz-animation: ball 5s forwards;
  -o-animation: ball 5s forwards; /* forwards keeps the ball at the result location when done */
  }
/*********************************************
   Animate margins becasue position causes
   object to be constantly rerendered, making
   it not clickable.
***********************************************/
@-webkit-keyframes ball { from { margin-top: 98%; width: 10px; height: 10px; animation-timing-function: ease-in-out; } 50% { margin-top:8%; width:50px; height:50px; animation-timing-function: ease-in-out; } to { margin-top: 102%; width:80px; height:80px; animation-timing-function: ease-in; }  }
   @-moz-keyframes ball { from { margin-top: 98%; width: 10px; height: 10px; animation-timing-function: ease-in-out; } 50% { margin-top:8%; width:50px; height:50px; animation-timing-function: ease-in-out; } to { margin-top: 102%; width:80px; height:80px; animation-timing-function: ease-in; }  }
     @-o-keyframes ball { from { margin-top: 98%; width: 10px; height: 10px; animation-timing-function: ease-in-out; } 50% { margin-top:8%; width:50px; height:50px; animation-timing-function: ease-in-out; } to { margin-top: 102%; width:80px; height:80px; animation-timing-function: ease-in; }  }
        @keyframes ball { from { margin-top: 98%; width: 10px; height: 10px; animation-timing-function: ease-in-out; } 50% { margin-top:8%; width:50px; height:50px; animation-timing-function: ease-in-out; } to { margin-top: 102%; width:80px; height:80px; animation-timing-function: ease-in; }  }

/* ------------------------------------------------------------------------- */
/* ------------ Jigglypuff ------------------------------------------------- */
#jigglypuff,
#jigglypuff:before {
  position: absolute;
  z-index: 9;
  cursor: pointer;
  }
#jigglypuff:after {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  }
#jigglypuff {
  top: 60%;
  left: 20%;
  height: 102px;
  width: 125px;
  border-radius: 50% 50% 49% 49%;
  -moz-border-radius: 50% 50% 49% 49%;
  -webkit-border-radius: 50% 50% 49% 49%;
  background: rgba(255, 0, 0, 0);
  box-shadow:
    /*Hands*/ 57px 41px 0px -43px #ffb7fd, 56px 43px 0px -42px #DB93C7, -49px 44px 0px -44px #ffb7fd, -46px 45px 0px -42px #DB93C7,
    /*Feet*/ -17px 74px 0px -44px #DB93C7, -21px 77px 0px -42px #ffb7fd, 21px 74px 0px -44px #DB93C7, 27px 77px 0px -42px #ffb7fd;
  }
#jigglypuff:before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  left: 53px;
  top: 48px;
  background: rgba(0, 184, 255, 0);
  border-radius: 2% 2% 5% 50%;
  -moz-border-radius: 2% 2% 5% 50%;
  -webkit-border-radius: 2% 2% 5% 50%;
  border: 0px solid #000000;
  box-shadow: -23px 40px 0px 6px #ffb7fd, -35px -26px 0px 8px #000000, -23px -17px 0 25px #ffb7fd, 44px -30px 0px 8px #000000, 44px -30px 0px 15px #ffb7fd;
  transform: rotate(3deg);
  }
#jigglypuff:after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  left: 52px;
  top: 48px;
  background-color: #ffb7fd;
  border-radius: 50%;
  box-shadow:
    16px -22px 0px 6px #ffb7fd, 17px -24px 0px 7px #DB93C7, 6px -36px 0px 23px #ffb7fd, 4px -32px 0px 21px #DB93C7, -21px -6px 0px 3px #FFFFFF, -27px 0px 0 10px #009FD5, -29px 2px 0 13px #38BFFF, -29px 2px 0px 16px #FFFFFF,32px -6px 0px 3px #FFFFFF, 38px 0px 0 10px #009FD5, 39px 2px 0 13px #38BFFF, 39px 2px 0px 16px #FFFFFE, 5px -11px 0px 37px #ffb7fd, -1px 29px 0px 1px #c00000, 5px 22px 0px 11px #ff0000, 6px 8px 0px 56px #ffb7fd, 6px 17px 0px 57px #DB93C7;
  }

/*Jugglypuff in Awe*/
.on #jigglypuff {
  top: 58%;
  left: 20%;
  height: 15px;
  width: 5px;
  border-radius: 30% 30% 30% 30%;
  -moz-border-radius: 30% 30% 30% 30%;
  -webkit-border-radius: 30% 30% 30% 30%;
  background: rgba(255, 0, 0, 0);
  box-shadow:
    /*Feet*/ 34px 112px 0px 7px #DB93C7, 34px 125px 0px 7px #ffb7fd, 78px 114px 0px 7px #DB93C9, 79px 125px 0px 7px #ffb7fd;
  }
.on #jigglypuff:before {
  display: block;
  content: '';
  width: 92px;
  height: 92px;
  left: 20px;
  top: 25px;
  background: rgba(0, 184, 255, 0);
  border-radius: 2% 2% 5% 50%;
  -moz-border-radius: 2% 2% 5% 50%;
  -webkit-border-radius: 2% 2% 5% 50%;
  border: 0px solid #000000;
  box-shadow:
    /*Ears*/ -20px -26px 0px -9px #000000, -23px -29px 0 -5px #ffb7fd, 12px -26px 0px -9px #000000, 15px -29px 0px -5px #ffb7fd;
  transform: rotate(3deg);
  }
.on #jigglypuff:after {
  display: block;
  content: '';
  width: 9px;
  height: 12px;
  left: 52px;
  top: 42px;
  background-color: #ffb7fd;
  border-radius: 50%;
  box-shadow:
    /*Hands*/ -29px 34px 0px 6px #ffb7fd, -27px 32px 0px 6px #DB93C7, 40px 34px 0px 6px #ffb7fd, 38px 32px 0px 6px #DB93C7,
    /*Hair*/
    16px -22px 0px 6px #ffb7fd,
    17px -24px 0px 7px #DB93C7,
    6px -36px 0px 23px #ffb7fd,
    4px -32px 0px 21px #DB93C7,
    /*Right Eye*/ -23px -6px 0px 6px #FFFFFF, -28px -2px 0 11px #009FD5, -28px 0px 0 14px #38BFFF, -29px 2px 0px 17px #FFFFFF,
    /*Left Eye*/ 45px -7px 0px 6px #FFFFFF, 42px -2px 0 11px #009FD5, 40px 0px 0 14px #38BFFF, 39px 2px 0px 17px #FFFFFE,
    /*Mouth*/ 5px -16px 0px 30px #ffb7fd, -3px 21px 0px 1px #c00000, 5px 23px 0px 10px #ff0000,
    /*Head*/
    6px 8px 0px 56px #ffb7fd,
    6px 17px 0px 57px #DB93C7;
  }

/*Angry Jugglypuff*/
.off #jigglypuff {
  top: 60%;
  left: 20%;
  height: 5px;
  width: 20px;
  border-radius: 30% 30% 30% 30%;
  -moz-border-radius: 30% 30% 30% 30%;
  -webkit-border-radius: 30% 30% 30% 30%;
  background: rgba(255, 0, 0, 0);
  box-shadow:
    /*Feet*/ 29px 120px 0px 5px #DB93C7, 27px 125px 0px 7px #ffb7fd, 77px 120px 0px 5px #DB93C7, 80px 125px 0px 7px #ffb7fd;
  }
.off #jigglypuff:before {
  display: block;
  content: '';
  width: 92px;
  height: 92px;
  left: 20px;
  top: 25px;
  background: rgba(0, 184, 255, 0);
  border-radius: 2% 2% 5% 50%;
  -moz-border-radius: 2% 2% 5% 50%;
  -webkit-border-radius: 2% 2% 5% 50%;
  border: 0px solid #000000;
  box-shadow:
    /*Ears*/ -20px -20px 0px -9px #000000, -23px -25px 0 -5px #ffb7fd, 14px -21px 0px -9px #000000, 17px -25px 0px -5px #ffb7fd;
  }
.off #jigglypuff:after {
  display: block;
  content: '';
  width: 11px;
  height: 9px;
  left: 52px;
  top: 56px;
  background-color: #ffb7fd;
  border-radius: 50%;
  box-shadow:
    /*Hands*/ -58px 23px 0px 8px #ffb7fd, -58px 26px 0px 8px #DB93C7, 72px 17px 0px 9px #ffb7fd, 72px 22px 0px 8px #DB93C7,
    /*Hair*/ 16px -20px 0px 6px #ffb7fd, 17px -22px 0px 7px #DB93C7, 6px -34px 0px 23px #ffb7fd, 4px -30px 0px 21px #DB93C7, 3px -35px 0px 21px #DB93C7,
    /*Cheeks*/ -17px -18px 0px 15px #ffb7fd, -25px 28px 0px 15px #ffb7fd, 26px -18px 0px 15px #ffb7fd, 35px 28px 0px 15px #ffb7fd,
    /*Right Eye*/ -19px 4px 0px -1px #FFFFFF, -23px 0px 0 7px #009FD5, -26px 2px 0 11px #38BFFF, -26px 2px 0px 14px #FFFFFF,
    /*Left Eye*/ 31px 3px 0px -1px #FFFFFF, 34px 0px 0 7px #009FD5, 37px 2px 0 11px #38BFFF, 36px 2px 0px 14px #FFFFFE,
    /*Mouth*/ 5px 20px 0px -3px #000,
    /*Head*/ 6px 0px 0px 56px #ffb7fd, 6px 6px 0px 57px #DB93C7;
  }


/* ------------------------------------------------------------------------- */
/* ------------ Whismur ---------------------------------------------------- */
#whismur,
#whismur:before,
#whismur:after {
  position: absolute;
  cursor: pointer;
  }
#whismur {
  width: 135px;
  height: 94px;
  left: 600px;
  top: 200px;
  background: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0px solid #000000;
  box-shadow: /*Ears*/ -1px -76px 0px -31px #FFE000, -4px -71px 0px -27px #DAC21B, 9px -64px 0px -29px #AD81A1, 11px -69px 0px -27px #C09CB4;
  transform: rotate(-45deg);
  z-index: 10;
  }

#whismur:before {
  display: block;
  content: '';
  width: 139px;
  height: 95px;
  left: 0px;
  top: 0px;
  background: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 0px solid #000000;
  box-shadow: /*Ears*/ 1px -71px 0px -29px #FFE000, 4px -67px 0px -28px #DAC21B, -7px -72px 0px -31px #C09CB6, -4px -67px 0px -27px #AD81A1;
  transform: rotate(85deg);
  z-index: 10;
  }
#whismur:after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  left: 82px;
  top: 34px;
  background-color: #C09CB6;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow:
    /*Right Eye*/ -17px -5px 0px -4px #000, -17px -3px 0 -4px #000, -17px -1px 0 -4px #000, -17px 7px 0px -4px #000, -17px 9px 0 -4px #000, -17px 11px 0 -4px #000, -7px 3px 0px -4px #000, -9px 3px 0 -4px #000, -11px 3px 0 -4px #000, -23px 3px 0 -4px #000, -25px 3px 0px -4px #000, -27px 3px 0 -4px #000,
    /*Left Eye*/ 23px -5px 0px -4px #000, 23px -3px 0 -4px #000, 23px -1px 0 -4px #000, 23px 7px 0px -4px #000, 23px 9px 0px -4px #000, 23px 11px 0 -4px #000, 28px 3px 0px -4px #000, 30px 3px 0 -4px #000, 32px 3px 0 -4px #000, 18px 3px 0 -4px #000, 16px 3px 0px -4px #000, 14px 3px 0 -4px #000,
    /*Mouth*/ 0px 4px 0px 15px #C09CB6, 0px 41px 0px 7px #C09CB6, -10px 31px 0px -2px #D14F11, -6px 30px 0px 0px #D14F11, 0px 26px 0px 5px #C00000, 12px 24px 0px -2px #c00000, 10px 30px 0px -2px #c00000, -12px 24px 0px -2px #c00000,
    /*Hands*/ -31px 32px 0px 2px #C09CB6, -29px 32px 0px 3px #AD81A1, 30px 36px 0px 2px #C09CB6, 29px 34px 0px 3px #AD81A1,
    /*Face*/ 0px 5px 0px 43px #C09CB6, -2px 11px 0px 45px #AD81A1,
    /*Feet*/ -20px 51px 0px 13px #DAC21B, -24px 48px 0px 14px #AD81A1, 17px 51px 0px 13px #DAC21B, 21px 47px 0px 14px #AD81A1;
  transform: rotate(45deg);
  z-index: 9;
  }
